.cover__subtitle {
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    margin: 0 auto;
    padding-top: 32px;
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        /* or 122% */
        padding-top: 16px;
    }
}