.photo-grid__item {
    object-fit: contain;
    max-width: 100%;
}

@media (max-width: 767px) {
    .photo-grid__item {
        width: calc(100% - 2*16px);
        max-width: calc(100% - 2*16px);
        margin: auto;
    }
}