.lead__subtitle {
    width: 640px;
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 32px;
}

@media (max-width: 767px) {
    .lead__subtitle {
        width: calc(100% - 2*16px);
        margin: auto;
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}