.website__link {
    opacity: 1;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: opacity 0.5s linear;
    text-decoration-line: none;
    border-bottom: 1px solid;
    vertical-align: bottom;
    padding-top: 12px;
}

.website__link:hover {
    opacity: 0.8;
}