.place {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, min-max(min-content, max-content));
    gap: 48px 40px;
}

@media (max-width: 1279px) {
    .place {
        gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        gap: 48px 28px;
    }
}

@media (max-width: 767px) {
    .place {
        display: block;
    }
}